.HeroCard {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Maintain 5 columns */
    grid-auto-rows: minmax(120px, 1fr); /* Minimum row height with flexibility */
    gap: 10px; /* Space between cards */
    padding: 50px; /* Padding around the entire grid */
    margin: auto; /* Center the grid horizontally */
    width: 100vw; /* Utilize full viewport width */
    max-width: 1000px; /* Maximum width to ensure cards are not too stretched */
    justify-content: center; /* Center cards within the grid if there's extra space */

  
   

    
}

.card {
    background-color: rgb(3, 58, 3);
    perspective: 1000px;
    border-radius: 10px;
    overflow: hidden;
    height: calc((100vh - 40px) / 4 - 10px); /* Dynamically calculate card height */
    width: calc((100vw - 40px) / 5 - 10px); /* Dynamically calculate card width */
    border: 2px solid gold; /* Gold border around each card */
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card-front {
    background-color: rgb(3, 58, 3);
    color: gold; /* Gold color for the text */
    font-family: 'Press Start 2P', cursive; /* Font that resembles video game text */
    font-size: 2em;
    transform: rotate(-45deg); /* Rotate text diagonally */
    text-align: center;
}

.card-back {
    background-color: rgb(3, 58, 3);
    transform: rotateY(180deg); /* Ensures back is initially hidden */
}

.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid gold; /* Gold border around the animal images */
}

.is-flipped {
    transform: rotateY(180deg); /* Flip effect */
}

