/* App.css */
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #004d40 0%, #009688 50%, #00bcd4 100%);
  overflow: hidden;
  position: relative;
}

.App-header {
  color: #00BFFF; /* Vibrant blue; adjust as needed */
  font-size: 2.5rem; /* Slightly reduced for balance */
  padding: 20px;
  text-shadow: /* Your 3D text styles here */;
  font-family: 'Arial', sans-serif; /* Or any specific font you prefer */
}

.bubble, .fish {
  position: absolute;
  will-change: transform;
}

.bubble {
  width: 75px; /* Smaller bubbles */
  height: 75px; /* Keep aspect ratio for bubbles */
  animation: rise 30s linear infinite;
}

.fish {
  width: 200px; /* Smaller fish */
  height: 200px; /* Maintain aspect ratio for fish */
  animation: swim 60s linear infinite; /* Adjusted for a slower, more relaxed animation */
}

@keyframes rise {
  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}

@keyframes swim {

 
  to {
    transform: translateX(-120vw);
    opacity: 0;
  }
  
}
